<div class="p-grid p-justify-center">
    <div class="p-col-4">
            <div class="box">
                <div class="ui-g">
                      <p-card header="Simple Card" [style]="{width: '100%'}">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                        </div>
                       </p-card>                                
                </div>        
    </div>
    </div>
</div>
<h3>Horizontal Alignment - Around</h3>
<div class="p-grid p-justify-around">
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Horizontal Alignment - Center</h3>
<div class="p-grid p-justify-center">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
</div>

<h3>Horizontal Alignment - Even</h3>
<div class="p-grid p-justify-even">
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>
<h3>Nested</h3>
<div class="p-grid nested-grid">
    <div class="p-col-8">
        <div class="p-grid">
            <div class="p-col-6">
                <div class="box">6</div>
            </div>
            <div class="p-col-6">
                <div class="box">6</div>
            </div>
            <div class="p-col-12">
                <div class="box">12</div>
            </div>
        </div>
    </div>
    <div class="p-col-4">
        <div class="box box-stretched">4</div>
    </div>
</div>
