.box {
    background-color: transparent;
    text-align: center;        
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
}
.login-content {
    margin: 10px auto 10px auto; text-align: left;
    /*padding: 12px 38px;*/
}

.vertical-container {
    /*margin: 0;*/
    /*height: 500px;*/
    height: 80%;
    /*height: 80vh;*/
    background:white;

}
