<p-messages [(value)]="msgs" [style]="{width: '360px'}"></p-messages>
<form [formGroup]="login" (ngSubmit)="onSubmit()" style="text-align: center;" >
    <p-card header="Bienvenido" subheader="Inicio de Sesion" [style]="{width: '360px'}" styleClass="ui-card-shadow">    
        <div class="ui-fluid" >
            <div class="ui-g p-justify-center">                
                <div class="ui-g-12">                    
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText formControlName="username"> 
                        <label for="float-input">Usuario</label>
                    </span>
                    <p-message severity="error" text="Usuario o Correo Requerido" *ngIf="!login.controls['username'].valid&&submitted"></p-message>
                </div>
            </div>
            <br>
            <div class="ui-g">
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <input id="float-input" type="password" size="30" pInputText formControlName="password"> 
                        <label for="float-input">Contraseña</label>
                    </span>
                    <p-message severity="error" text="Contraseña Requerida" *ngIf="!login.controls['password'].valid&&submitted"></p-message>
                </div>
            </div>
        </div>
        <p-footer>
            <button class="ui-button-rounded" type="submit" pButton label="Iniciar" *ngIf="!loading" style="margin-right: .25em"></button>
            <br>
            <i class="pi pi-spin pi-spinner" *ngIf="loading" style="font-size: 3em; margin-right: .25em"></i>
        </p-footer>
    </p-card>
</form>