<p-table [value]="questions" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Preguntas</th>
            <!--<th style="width: 3em"></th>-->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
        <tr>
            <td style="width: auto" >{{question.question}}</td>           
        </tr>
        <tr>
            <td [ngSwitch]="question.options">
                <div *ngSwitchCase="'isos'"> <!--cambiar a 'iso' -->
                    <div  class="ui-fluid">
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <!--<p-radioButton name="{{question.id}}" value="compliant" label="Obediente" inputId={{question.id}}></p-radioButton>-->
                                <p-radioButton name={{question.id}} value="100" (onFocus)="onFocus($event,1)" label="Obediente" inputId={{question.id}}></p-radioButton>
                            </div>
                            <div class="ui-g-3">
                                <p-radioButton name={{question.id}}  value="75" (onFocus)="onFocus($event,2)" label="Oportunidad de Mejora" inputId={{question.id}}></p-radioButton>
                            </div>
                            <div class="ui-g-3">
                                <p-radioButton name={{question.id}}  value="50"  (onFocus)="onFocus($event,3)" label="Menor No-Conformidad" inputId={{question.id}}></p-radioButton>
                            </div>
                            <div class="ui-g-3">
                                <p-radioButton name={{question.id}}  value="25"(onFocus)="onFocus($event,4)"  label="Mayor No-Conformidad" inputId={{question.id}}></p-radioButton>
                            </div>
                        </div>                                                                                                
                    </div>
                </div>
                <div *ngSwitchCase="'isos'"><!-- Cambiar a description--> 
                    <div  class="ui-fluid">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <!--<p-radioButton name={{question.id}} value="100" (onFocus)="onFocus($event,1)" label="Obediente" inputId={{question.id}}></p-radioButton>-->
                                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                            </div>                            
                        </div>                                                                                                
                    </div>
                </div>
                <div *ngSwitchCase="'iso'"><!-- Cambiar a check-->            
                    <div class="ui-fluid" >
                        <div class="ui-g">
                            <div class="ui-g-12" >
                                <!--<p-checkbox name={{question.id}} value="true" (onChange)="onChange($event,question.id)" label="Si Cumple" inputId={{question.id}}></p-checkbox>-->
                                <p-inputSwitch name={{question.id}} (onChange)="onChange($event,question.id)" inputId={{question.id}}></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
