<p-messages [(value)]="msgs" [style]="{width: '360px'}"></p-messages>
<p-table [columns]="cols" [value]="enterprises" dataKey="id" [rows]="rows" [lazy]="true"
(onLazyLoad)="loadData($event)" [paginator]="true" [loading]="loading" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th>RFC</th>
            <th>Nombre</th>
            <th>Giro Empresarial</th>
            <!--<th>Accion</th>-->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td>{{rowData.rfc}}</td>
            <td>{{rowData.name}}</td>
            <td>{{rowData.industry}}</td>
            <!--<td>
                <button pButton type="button" icon="pi pi-times" iconPos="right" label="Eliminar" (click)="deleteAction(rowData.id)" class="ui-button-raised ui-button-danger"></button>
            </td>-->
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12 ui-md-6">
                        <p-card header="">
                            <b>Usuario:</b> {{rowData.user.username}}
                            <br>
                            <br>
                            <b>Correo:</b> {{rowData.user.email}}
                            <br>
                            <br>
                            <b>Tipe de Usuario:</b> {{rowData.user.type | titlecase}}
                        </p-card>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
