<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-3">

        </div>
        <div class="ui-g-6">
            <p-card header="Auditoria Terminada" [style]="{width: '360px'}">
                <h3 style="text-align: center;">
                    La auditoria se finalizo satisfactoriamente.
                </h3>
                <button pButton type="button" label="Regresar" (click)="changeLink()" class="ui-button-raised ui-button-secondary"></button>
            </p-card>
        </div>
        <div class="ui-g-3">

        </div>            
    </div>        
</div>
