/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans';
  font-style: normal;
}

body .ui-tabmenu .ui-tabmenu-nav {
    background: transparent;    
  }
