<p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <i class="pi pi-spin pi-spinner" style="position:absolute;top:45%;left:50%; font-size: 3em"></i>
</p-blockUI>
<p-messages [(value)]="msgs" [style]="{width: '360px'}"></p-messages>
<form [formGroup]="enterprise" (ngSubmit)="onSubmit()">
    <p-fieldset #pnl>
        <p-header><h3>Registro de Empresas</h3></p-header>
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-2">
                            RFC
                        </div>
                        <div class="ui-g-6">
                            <input pInputText type="text" formControlName="rfc" />
                        </div>
                        <div class="ui-g-4">
                            <p-message severity="error" text="Campo Requerido" *ngIf="!fControls['rfc'].valid&&submitted"></p-message>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-2">
                            Nombre
                        </div>
                        <div class="ui-g-6" >
                            <input pInputText type="text" formControlName="name" />
                        </div>
                        <div class="ui-g-4">
                            <p-message severity="error" text="Campo Requerido" *ngIf="!fControls['name'].valid&&submitted"></p-message>
                        </div>
                    </div>                    
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-2">
                            Direccion
                        </div>
                        <div class="ui-g-6">
                            <input pInputText type="text" formControlName="address" />
                        </div>
                        <div class="ui-g-4">
                            <p-message severity="error" text="Campo Requerido" *ngIf="!fControls['address'].valid&&submitted"></p-message>
                        </div>
                    </div>
                     <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-4">
                            Giro Empresarial
                        </div>
                        <div class="ui-g-6">
                            <p-dropdown [options]="industry" [(ngModel)]="selectedType" formControlName="industry"></p-dropdown>
                        </div>
                        <div class="ui-g-2">
                            <p-message severity="error" *ngIf="!fControls['industry'].valid&&submitted"></p-message>
                        </div>
                    </div>                    
                    <div class="ui-g-12 ui-md-2 p-md-offset-5">
                        <button pButton label="Registrar" class="ui-button-raised"></button>
                    </div>
                </div>                     
            </div>
        </div>            
    </p-fieldset>        
</form>
